x64/Debug/thread_with_timeout.ilk
x64/Debug/thread_with_timeout.exe
thread_with_timeout/x64/Debug/vc142.pdb
thread_with_timeout/x64/Debug/thread_with_timeout.exe.recipe
thread_with_timeout/x64/Debug/thread_w.c1bab049.tlog/thread_with_timeout.lastbuildstate
thread_with_timeout/x64/Debug/thread_w.c1bab049.tlog/link.write.1.tlog
thread_with_timeout/x64/Debug/thread_w.c1bab049.tlog/CL.read.1.tlog
thread_with_timeout/x64/Debug/thread_w.c1bab049.tlog/CL.command.1.tlog
.vs/thread_with_timeout/v16/ipch/AutoPCH/dab32fd960eba04f/THREAD_WITH_TIMEOUT.ipch
.vs/thread_with_timeout/v16/Browse.VC.opendb
.vs/thread_with_timeout/v16/Browse.VC.db
.vs/thread_with_timeout/v16/.suo
x64/Debug/thread_with_timeout.pdb
thread_with_timeout/x64/Debug/vc142.idb
thread_with_timeout/x64/Debug/thread_with_timeout.obj
thread_with_timeout/x64/Debug/thread_with_timeout.log
thread_with_timeout/x64/Debug/thread_w.c1bab049.tlog/link.read.1.tlog
thread_with_timeout/x64/Debug/thread_w.c1bab049.tlog/link.command.1.tlog
thread_with_timeout/x64/Debug/thread_w.c1bab049.tlog/CL.write.1.tlog
.vs/thread_with_timeout/v16/Browse.VC.db-wal
.vs/thread_with_timeout/v16/Browse.VC.db-shm
